
@media only screen and (max-width: 980px) {

/**********
HEADER
***********/

#header-container {
	max-width: 980px;
}
header { 
	max-width: 730px;
	margin: 0 auto; 
}

div .logo {
	max-width: 210px;
	padding: 20px;

}		
	
/**********
BODY-ABOUT-CONTACT
***********/

#body-container {
	margin: 40px auto;
	max-width: 100%;
}

#wrap {
	max-width: 730px;
	margin: 40px auto;

}	
	
.main-content {
	max-width: 360px;
}

.mainContentBio img {
	max-width: 100%;
	display: block;
	margin: 10px auto;
	float: none;

}
	
/**********
BODY-PORTFOLIO
***********/
.portfolio-container {
	max-width: 360px;
 }  
  
#gallery li {

 	display: block;
 	margin: 0 auto;
	float: none;
	clear:both;
 }


#gallery img {
	max-width: 350px;
	width: 100%;
}

@media only screen and (max-width: 768px) {
#header-container {
	max-width: 768px;
}

/**************
GENERAL-ABOUT-CONTACT
**************/
#wrap {
	max-width: 768px;

}	


.main-content {
	max-width: 670px;
	display: block;
	margin: 0 auto;
}

.mainContentBio img {
	max-width: 333px;
	float: left;
	margin: 10px 10px 10px 0;
}

  /**************
GENERAL-PORTFOLIO
**************/
.portfolio-container {
	max-width: 670px;
	margin: 40px auto;
	display: block;
}  
  
#gallery li {
float: left;
display: list-item;
margin: 0 10px;
list-style: none;
clear: right;
}	

#gallery img {
	max-width: 315px;
}


#gallery .list-1 { 
	margin-left: 0;
	
  }

#gallery .list-2 { 
		margin-right: 0;
		clear: right;
  }

#gallery .list-3 { 
	margin-left: 0;
	
  }

#gallery .list-4 { 
	margin-right: 0;
	clear: right;
}

#gallery .list-5 { 
	margin-left: 0;
}


/**************
SIDEBAR
**************/
	.sidebar {
			max-width: 670px;
			float: none;
			display: block;
			margin: 40px auto;
	}
}
@media only screen and (max-width: 640px) {
	
/**********
HEADER
***********/

div.logo {
	max-width: 640px;
	display: block;
	margin: 0 auto;
}

/**********************
NAVIGATION
**********************/

nav {
	clear: both;
	max-width: 640px;
	display: block;
	float: none;
	text-align: center;
}

/**********
BODY-ABOUT-CONTACT
***********/


#wrap {
	max-width: 550px;
	margin: 40px auto;

}	

div.main-content {
	max-width: 550px;
	display: block;
	margin: 0 auto;
}
.mainContentBio img {
	max-width: 100%;
}

 /**************
GENERAL-PORTFOLIO
**************/
.portfolio-container {
	max-width: 540px;
	margin: 40px auto;
	display: block;
}  
  
#gallery li {
float: none;
display: block;
margin: 0 auto;
list-style: none;

}	

#gallery img {
	max-width: 540px;
	width: 100%;
}


/**************
SIDEBAR
**************/
	.sidebar {
			max-width: 500px;
			float: none;
			display: block;
			margin: 40px auto;
	}